body{
	color:#eee;
	margin:0;
	padding:0;
}
a{
	color:white;	
}

#wrapper{
	background-color:black;
	position:absolute;
	top:0;
	left:0;
	margin-left:0;	
	margin-right:0;	
	width: 300px;
	height:190px;
	padding:5px;
	border: 3px solid #808080;
	border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;	
}


.hidden{
	display:none;
}
.diagram{float:left;}
#control{text-align:center}
#current-frame{font-weight: bold}
#colright{float:left;width:160px;}
#colleft{}
#com{
	vertical-align:text-bottom;
	font-family:monospace;
	background-color: #333;
	border:0;
	padding: 5px;
	margin: 0 10px; 
	width: 150px;
	height: 75px;
	font-size:10px;
	color: #eee;
}
#controls{
position:absolute;
top:120px;
margin-left: 20px;
text-align:center;
}
