  /* --------------------------------------------------------*/
 /* -------- Utility class - Do not delete or modify those !--------- */       
/* ------------------------------------------------------- */


.hidden{
	display:none;
}

.boxcheck{
	background-color: lightgreen !important;
}

  /* ------------------------*/
 /* -------- Layout--------- */       
/* ----------------------- */

#wrapper{ 
	position:relative;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
	
	background-color:#333;
	
	border:3px solid #eee;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;	
}

#col-right{
	float:right;
	width:300px;
}
#col-left{
	float:left;
	width: 300px;
}
#col-center{
	width: 300px;
	text-align:center;
	margin-left: auto; 
	margin-right: auto; 
}
  /* ----------------------------------*/
 /* -------- Borders and colors--------- */       
/* --------------------------------- */
body{
	font-family: frutiger,helvetica,arial, sans-serif;
	background-color:#000;
	color:#eee;
}

#header h1{
	text-align:center;
	margin-bottom:-8px;
	margin-left: -600px;
}
.h2-title{
	margin-top: -22px;
	margin-bottom:0;
	margin-left: 15px;
	color:#777;
}
/*OMG HAXXX !!!!!! The following code block targets webkit (Safari & Chrome)*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
.h2-title{
	margin-top: -24px;
	margin-bottom:0;
	margin-left: 15px;
	color:#777;

 }
 }

.group{
	/* .group is the magic class for fancy rounded border*/
  	background-color:#333;
	border:3px solid #777;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom:30px;
}
/* Center column - The blocks are handled by ressources/<rotation system>.css (default is ARS)*/
#playfield-title{
	color:#eee;
	text-align:left;
}


#playfield{
  	background-color:#333;
	border:3px solid #eee;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
#playfield textarea{
	color: #eee;
	border:1px solid #777;
	background-color: #222;
}
#modifier{
	text-align:left;
	margin-top: 30px;
}

/* Left column - The palette is handled by ressources/<rotation system>.css (default is ARS)*/
#palette input[id^=select]{
	display:none;
}

#palette p{
	margin-bottom:8px;
	margin-bottom:4px;
}

#properties dd{
	font-size: 14px;
}

#field-manipulation{
	width:250px;
}
#field-manipulation-title{margin-left:3px;}

	/*Tab set 1*/
ul.tabs {
	float:right;
	list-style-type:none;
	padding:0;
	margin-right:-63px;
	margin-top:3px;
}
ul.tabs li {
	width:55px;
	border-top:1px solid #333;
	padding:3px;
	background-color: #777;
}
ul.tabs li a {
	color:#aaa;
	font-weight:bold;
	text-decoration:none;
}
.active-tab{
	border-right: 1px solid red;
}
.active-tab a{
	color:#333 !important;
}
#field-manipulation p{
	text-align:center;                                         
}

 /*Footer*/

 #footer{
 	 padding-top:10px;
	clear:both;
}
 #Console-control{
	text-align:center;
	width: 800px;
	position:relative;
	margin-left: auto;
	margin-right: auto;
}
#Console-title{
	text-align:left;
}

#Console-control .console{
	width: 400px;
	float:left;
}
#Console-control textarea{
	width: 380px;
	height: 100px;
	color: #777;
	border:1px solid #777;
	background-color: #222;
}
#Keyboard-control{
	width: 800px;
	position:relative;
	margin-left: auto;
	margin-right: auto;
}
#Keyboard-title{
	text-align:left;
}

#Help{
	width: 800px;
	position:relative;
	margin-left: auto;
	margin-right: auto;
}
#Help-title{
	text-align:left;
}
	/*Tab set 2*/
ul.tabs2 {
	float:right;
	list-style-type:none;
	padding:0;
	margin-right:-9px;
	margin-top:3px;
}
ul.tabs2 li {
	width:80px;
	border-top:1px solid #333;
	padding:3px;
	background-color: #777;
}
ul.tabs2 li a {
	color:#aaa;
	font-weight:bold;
	text-decoration:none;
}

/* Link*/
#links{
	text-align:center;
	font-size: 10px;
}
#links a{
color:white;
}
